html,
body {
	height: 100%;
	font-family: "Noto Sans", sans-serif;
	// font-family: "Noto Sans Display", sans-serif;
	// font-family: "Rubik", sans-serif;
}
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.main {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}
.container {
	max-width: 1245px;
	margin: 0 auto;
	padding: 0 15px;
}
